<h1>Dashboard</h1>
<p>Admin: <%= user.name %></p>
<p>Current Sessions:</p>
<div>
                <form method="POST" action="">
                    <p>sessionID:</p>
                    <p>userID:</p>
                    <button>Revoke Session </button>
                </form>
</div>
<br>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>